<!DOCTYPE HTML> 
<html>
   <head>
        <title>Forgot Password</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
	
     
</head>

<body ng-app = "myApp" ng-controller="forgotPword">

	<br />

	<div class="center">

        <h1><b>Forgot Password</b></h1>
		<p>Enter your email and we will send you a link to reset your password</p>
		
	</div>

	<div class="centerForm">

		<form>
		  <div class="form-group">
			<label for="exampleInputEmail1">Email Address</label>
			<input type="email" ng-model="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
		  </div>
		  <table class="nav" align="center">
			<tr>
				<td>
					<p><button type="submit" class="btn btn-primary" ng-click="forgotPassword()">Enter</button>
				</td>
			</tr>		
		  </table>
		</form>
		
	</div>	
	
	<br/>
	
    <script src="./forgotpassword.js"></script>
	
</body>
</html>
        
    
